body { background: #d28521; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 47px; display: flex; }
.block-search-0 { color: #6133b2; font-size: 16px; margin-bottom: 5px; }
.block-token-1 { color: #e1dbb4; font-size: 14px; margin-bottom: 5px; }
.block-cache-2 { color: #31ef72; font-size: 16px; margin-bottom: 5px; }
.block-product-3 { color: #ed51e8; font-size: 19px; margin-bottom: 5px; }
.block-notify-4 { color: #21105e; font-size: 18px; margin-bottom: 5px; }
.block-search-5 { color: #e0ca7c; font-size: 13px; margin-bottom: 5px; }